@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --green: #6FA64E;
  --mint-green: #A5D6A7
  --blush-pink: #F48FB1;
  --baby-blue: #90CAF9
  --buttery-yellow: #FFF59D;
}

*, *:before, *:after {
  box-sizing: border-box;
}
/* Global Styles */
#root {
  height: 100%;
}
.scroll-y {
  overflow-y: scroll;
}

body {
  background-color: var(--tan-1);
  color: var(--text-dark);
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  margin: 20px;
  height: 100vh;
}
.main{
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.Header {
  background-color: var(--tan-2); 
  padding: 20px;
}

.Header h1 {
  color: var(--text-dark);
}

.Header h2 {
  color: var(--text-light); 
}

/* Navigation Styles */
nav {
  background-color: var(--tan-3);
  padding: 10px;
}

nav a {
  color: var(--text-dark);
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  background-color: var(--tan-4); 
}

/* Button Styles */
button {
  background-color: var(--green); 
  color: var(--white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: darken(var(--green), 10%); /* Darken the green slightly on hover */
}

/* Anchor Tag Styles */
a {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}
